/* Variable collection - Mode 1 */
:root {
    --Brand-Indigo-500: #6B63FFFF;
    --Brand-Indigo-300: #A5B4FCFF;
    --Brand-Indigo-900: #2E2A5FFF;
    --Neutral-Slate-50: #F8FAFCFF;
    --4: 4px;

    /* Primitive - Base */
    --Brand-Indigo-100: #E0E7FFFF;
    --Brand-Indigo-300: #A5B4FCFF;
    --Brand-Indigo-300-8: #A5B4FC14;
    --Brand-Indigo-300-16: #A5B4FC29;
    --Brand-Indigo-300-40: #A5B4FC66;
    --Brand-Indigo-300-50: #A5B4FC80;
    --Brand-Indigo-500: #6B63FFFF;
    --Brand-Indigo-500-4: #6B63FF0A;
    --Brand-Indigo-500-8: #6B63FF14;
    --Brand-Indigo-500-40: #6B63FF66;
    --Brand-Indigo-500-50: #6B63FF80;
    --Brand-Indigo-700: #4F46E5FF;
    --Brand-Indigo-800: #3730A3FF;
    --Brand-Indigo-900: #2E2A5FFF;
    --Brand-Indigo-900-4: #2E2A5F0A;
    --Brand-Indigo-900-8: #2E2A5F14;
    --Brand-Indigo-900-40: #2E2A5F66;
    --Brand-Indigo-900-50: #2E2A5F80;
    --Amber-100: #FEF3C7FF;
    --Slate-50: #F8FAFCFF;
    --Slate-50-60: #F8FAFC99;
    --Slate-100: #F1F5F9FF;
    --Amber-500: #F59E0BFF;
    --Amber-900: #78350FFF;
    --Info-Blue-100: #DBEAFEFF;
    --Slate-200: #E2E8F0FF;
    --Info-Blue-500: #3B82F6FF;
    --Slate-300: #CBD5E1FF;
    --Slate-400: #94A3B8FF;
    --Slate-500: #64748BFF;
    --Slate-600: #475569FF;
    --Slate-700: #334155FF;
    --Slate-800: #1E293BFF;
    --Slate-950: #0F172AFF;
    --Slate-950-38: #0F172A61;
    --Slate-950-60: #0F172A99;
    --Green-100: #DCFCE7FF;
    --Neutral-White: #FFFFFFFF;
    --Neutral-White-8: #FFFFFF14;
    --Neutral-White-10: #FFFFFF1A;
    --Neutral-White-16: #FFFFFF29;
    --Neutral-White-20: #FFFFFF33;
    --Neutral-Black-10: #0000001A;
    --Red-100: #FEE2E2FF;
    --Green-600: #10B981FF;
    --Green-900: #064E3BFF;
    --Red-600: #EF4444FF;
    --Red-900: #7F1D1DFF;
    --Brand-Indigo-900-60: #2E2A5F99;
    --Info-Blue-900: #1E3A8AFF;

    /* Semantics - Light Mode */
    --Color-Primary-Main: var(--Brand-Indigo-500);
    --Color-Secondary-Main: var(--Brand-Indigo-900);
    --Color-Secondary-Light: var(--Brand-Indigo-700);
    --Color-Secondary-Dark: var(--Slate-950);
    --Color-Secondary-Contrast: var(--Neutral-White);
    --Color-Secondary-_States-Hover: var(--Brand-Indigo-800);
    --Color-Secondary-_States-HoverSubtle: var(--Brand-Indigo-900-4);
    --Color-Secondary-_States-Active: var(--Slate-950);
    --Color-Secondary-_States-Selected: var(--Brand-Indigo-900-8);
    --Color-Secondary-_States-FocusVisible: var(--Brand-Indigo-900-40);
    --Color-Secondary-_States-Outlined: var(--Brand-Indigo-900-50);
    --Color-Secondary-_States-OutlinedHovered: var(--Brand-Indigo-900);
    --Color-Primary-Light: var(--Brand-Indigo-300);
    --Color-Primary-Dark: var(--Brand-Indigo-700);
    --Color-Primary-Contrast: var(--Neutral-White);
    --Color-Primary-_States-Hover: var(--Brand-Indigo-700);
    --Color-Primary-_States-HoverSubtle: var(--Brand-Indigo-500-4);
    --Color-Primary-_States-Active: var(--Brand-Indigo-800);
    --Color-Primary-_States-Selected: var(--Brand-Indigo-500-8);
    --Color-Primary-_States-FocusVisible: var(--Brand-Indigo-500-40);
    --Color-Primary-_States-Disabled: var(--Slate-200);
    --Color-Primary-_States-Outlined: var(--Brand-Indigo-500-50);
    --Color-Primary-_States-OutlinedHovered: var(--Brand-Indigo-500);
    --Color-Background-Default: var(--Slate-50);
    --Color-Background-Paper: var(--Neutral-White);
    --Color-Border-Default: var(--Brand-Indigo-300);
    --Color-Border-Active: var(--Color-Primary-Main);
    --Color-Border-Error: var(--Color-Error-Main);
    --Color-Divider: var(--Slate-200);
    --Color-Success-Main: var(--Green-600);
    --Color-Success-Light: var(--Green-100);
    --Color-Success-Dark: var(--Green-900);
    --Color-Success-Contrast: var(--Neutral-White);
    --Color-Error-Main: var(--Red-600);
    --Color-Error-Light: var(--Red-100);
    --Color-Error-Dark: var(--Red-900);
    --Color-Error-Contrast: var(--Neutral-White);
    --Color-Warning-Main: var(--Amber-500);
    --Color-Warning-Light: var(--Amber-100);
    --Color-Warning-Dark: var(--Amber-900);
    --Color-Info-Main: var(--Info-Blue-500);
    --Color-Info-Light: var(--Info-Blue-100);
    --Color-Info-Dark: var(--Info-Blue-900);
    --Color-Text-Primary: var(--Slate-950);
    --Color-Text-Secondary: var(--Slate-500);
    --Color-Text-Disabled: var(--Slate-400);
    --Color-Action-Disabled: var(--Slate-200);
    --Color-Action-Hover: var(--Neutral-Black-10);
    --Color-Action-Selected: var(--Neutral-Black-10);
}

/* Semantics - Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        --Color-Primary-Main: var(--Brand-Indigo-300);
        --Color-Secondary-Main: var(--Brand-Indigo-500);
        --Color-Secondary-Light: var(--Brand-Indigo-300);
        --Color-Secondary-Dark: var(--Neutral-White);
        --Color-Secondary-Contrast: var(--Slate-950);
        --Color-Secondary-_States-Hover: var(--Neutral-White-8);
        --Color-Secondary-_States-HoverSubtle: var(--Brand-Indigo-300-8);
        --Color-Secondary-_States-Active: var(--Neutral-White-16);
        --Color-Secondary-_States-Selected: var(--Brand-Indigo-300-16);
        --Color-Secondary-_States-FocusVisible: var(--Brand-Indigo-300-40);
        --Color-Secondary-_States-Outlined: var(--Brand-Indigo-300-50);
        --Color-Secondary-_States-OutlinedHovered: var(--Brand-Indigo-300);
        --Color-Primary-Light: var(--Brand-Indigo-300);
        --Color-Primary-Dark: var(--Brand-Indigo-700);
        --Color-Primary-Contrast: var(--Neutral-White);
        --Color-Primary-_States-Hover: var(--Neutral-White-10);
        --Color-Primary-_States-HoverSubtle: var(--Neutral-White-8);
        --Color-Primary-_States-Active: var(--Neutral-White-20);
        --Color-Primary-_States-Selected: var(--Brand-Indigo-300-16);
        --Color-Primary-_States-FocusVisible: var(--Brand-Indigo-300-40);
        --Color-Primary-_States-Disabled: var(--Slate-500);
        --Color-Primary-_States-Outlined: var(--Brand-Indigo-500-50);
        --Color-Primary-_States-OutlinedHovered: var(--Brand-Indigo-500);
        --Color-Background-Default: var(--Slate-950);
        --Color-Background-Paper: var(--Brand-Indigo-900);
        --Color-Border-Default: var(--Brand-Indigo-700);
        --Color-Border-Active: var(--Color-Primary-Main);
        --Color-Border-Error: var(--Color-Error-Main);
        --Color-Divider: var(--Brand-Indigo-900-60);
        --Color-Success-Main: var(--Green-600);
        --Color-Success-Light: var(--Green-900);
        --Color-Success-Dark: var(--Green-100);
        --Color-Success-Contrast: var(--Neutral-White);
        --Color-Error-Main: var(--Red-600);
        --Color-Error-Light: var(--Red-900);
        --Color-Error-Dark: var(--Red-100);
        --Color-Error-Contrast: var(--Neutral-White);
        --Color-Warning-Main: var(--Amber-500);
        --Color-Warning-Light: var(--Amber-900);
        --Color-Warning-Dark: var(--Amber-100);
        --Color-Info-Main: var(--Info-Blue-500);
        --Color-Info-Light: var(--Info-Blue-900);
        --Color-Info-Dark: var(--Info-Blue-100);
        --Color-Text-Primary: var(--Slate-50);
        --Color-Text-Secondary: var(--Slate-400);
        --Color-Text-Disabled: var(--Slate-500);
        --Color-Action-Disabled: var(--Slate-500);
        --Color-Action-Hover: var(--Neutral-White-10);
        --Color-Action-Selected: var(--Neutral-White-10);

    }
}